@font-face {
    font-family: Vezitsa;
    /* Гарнитура шрифта */
    src: url(fonts/ofont.ru_Vezitsa\ \(1\).ttf);
    /* Путь к файлу со шрифтом */
}

nav {
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
    font-family: 'Rubik', sans-serif;
    color: #836e40;
    height: 100px;
    background-color: #fefeff;
    justify-content: center;
}

body {
    font-family: 'Rubik', sans-serif;
}

div {
    text-align: center;
}

h1 {
    size: 72px;
    color: rgb(49, 39, 58);
    text-align: center;
}

ol {
    color: coral;
}

img {
    height: 500px;
}

a {
    color: #836e40;
   
}

h5 {
    color: #836e40;
}

body::-webkit-scrollbar {
    width: 12px;
    /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: #fefeff;
    /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    background-color: #836e40;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 3px solid #fefeff;
    /* padding вокруг плашки */
}

.hotel-index {
    position: absolute;
    height: 150px;
    background-color: #fefeff;
    opacity: 75%;
    z-index: 1000;
    bottom: 20px;

}

.carousel-inner {
    position: relative;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.nav__contacts {
    font-size: 14px;
    margin-top: 0;
}

.nav-link {
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #836e40;

}


.navbar {
    color: fefeff;
}

.navbar-brand img {
    height: 50px;
    border-radius: 50%;
    background-color: #fefeff;
    height: 85px;
    background-size: 70px 70px;

    margin-top: 0;
    z-index: 1021;
}

.navbar-nav li {
    padding-right: 50px;
}



hotel-index img {
    width: 100%;
    height: 850px;
    object-fit: cover;
}

.title__booking {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title__block {
    font-family: 'Vezitsa', arial;
    margin-top: 40px;
    font-size: 30px;
    color: #836e40;
    margin-bottom: 40px;
}

.btn {
    background-color: #836e40;
    border-color: #836e40;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: white;

}

.card {
    margin-bottom: 30px;
    height: 500px;
}

.card-title {
    font-family: 'Vezitsa';
    font-size: 24px;
    margin-top: 20px;

}

.title__booking {
    font-family: 'Vezitsa';
    font-size: 24px;
    color: #836e40;
}



.card img {
    height: 100%;
    border-radius: 0;
}

.modal img {
    height: 100%;
    border-radius: 0;
    margin-bottom: 30px;
}

.carousel-caption {
    background-color: #ffffff;

    opacity: 80%;
    margin-bottom: 40px;
}

.carousel-caption p {
    color: rgb(87, 42, 0);
}

.carousel-indicators {
    padding-bottom: 10px;
}

input {
    margin-bottom: 20px;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.well-form {
    margin: 5px 20px;
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-legend {
    display: block;
    font-size: 14px;
    width: auto;
    padding: 2px 7px 2px 5px;
    line-height: inherit;
    color: #CCC;
    border: none;
    background-color: #f5f5f5;
    margin-bottom: 0;
}

.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: #836e40;
    ;
    border-color: #836e40;
    ;
}

.hotel {
    background-color: rgb(255, 252, 234);

}

.contacts {
    background-color: rgb(255, 252, 234);
}

.title__block {
    padding-top: 40px;
}

.about__hotel {
    height: 500px;
}

@import url('demo.css');

.mi-slider {
    position: relative;
    margin-top: 30px;
    height: 490px;
}

.mi-slider ul {
    list-style-type: none;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 140px;
    overflow: hidden;
    text-align: center;
    pointer-events: none;
}

.no-js .mi-slider ul {
    position: relative;
    left: auto;
    bottom: auto;
    margin: 0;
    overflow: visible;
}

.mi-slider ul.mi-current {
    pointer-events: auto;
}

.mi-slider ul li {
    display: inline-block;
    padding: 20px;
    width: 20%;
    max-width: 300px;
    -webkit-transform: translateX(600%);
    transform: translateX(600%);
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.no-js .mi-slider ul li {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.mi-slider ul li a,
.mi-slider ul li img {
    display: block;
    margin: 0 auto;
}

.mi-slider ul li a {
    outline: none;
    cursor: pointer;
}

.mi-slider ul li img {
    max-width: 100%;
    border: none;
}

.mi-slider ul li h4 {
    display: inline-block;
    font-size: 18px;
    padding: 20px 10px 0;
}

.mi-slider ul li:hover {
    opacity: 0.7;
}

.mi-slider nav {
    position: relative;
    top: 400px;
    text-align: center;
    margin: 0 auto;
    border-top: 5px solid #836e40;
    ;
}

.no-js nav {
    display: none;
}

.mi-slider img {
    height: 70%;

}

.mi-slider nav a {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 40px 30px 30px 34px;
    position: relative;
    color: #836e40;
    ;
    outline: none;
    -webkit-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.mi-slider nav a:hover,
.mi-slider nav a.mi-selected {
    color: #836e40;
    ;
}

.mi-slider nav a.mi-selected:after,
.mi-slider nav a.mi-selected:before {
    content: '';
    position: absolute;
    top: -5px;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mi-slider nav a.mi-selected:after {
    border-color: transparent;
    border-top-color: #fff;
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.mi-slider nav a.mi-selected:before {
    border-color: transparent;
    border-top-color: #836e40;

    border-width: 27px;
    left: 50%;
    margin-left: -27px;
}

/* Move classes and animations */

.mi-slider ul:first-child li,
.no-js .mi-slider ul li {
    -webkit-animation: scaleUp 350ms ease-in-out both;
    animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
    0% {
        -webkit-transform: translateX(0) scale(0);
    }

    100% {
        -webkit-transform: translateX(0) scale(1);
    }
}

@keyframes scaleUp {
    0% {
        -webkit-transform: translateX(0) scale(0);
        transform: translateX(0) scale(0);
    }

    100% {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
}

.mi-slider ul:first-child li:first-child {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}

.mi-slider ul:first-child li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

.mi-slider ul:first-child li:nth-child(3) {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}

.mi-slider ul:first-child li:nth-child(4) {
    -webkit-animation-delay: 360ms;
    animation-delay: 360ms;
}

/* moveFromRight */

.mi-slider ul.mi-moveFromRight li {
    -webkit-animation: moveFromRight 350ms ease-in-out both;
    animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.mi-slider ul.mi-moveFromLeft li {
    -webkit-animation: moveFromLeft 350ms ease-in-out both;
    animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.mi-slider ul.mi-moveToRight li {
    -webkit-animation: moveToRight 350ms ease-in-out both;
    animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.mi-slider ul.mi-moveToLeft li {
    -webkit-animation: moveToLeft 350ms ease-in-out both;
    animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.mi-slider ul.mi-moveToLeft li:first-child,
.mi-slider ul.mi-moveFromRight li:first-child,
.mi-slider ul.mi-moveToRight li:nth-child(4),
.mi-slider ul.mi-moveFromLeft li:nth-child(4) {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(2),
.mi-slider ul.mi-moveFromRight li:nth-child(2),
.mi-slider ul.mi-moveToRight li:nth-child(3),
.mi-slider ul.mi-moveFromLeft li:nth-child(3) {
    -webkit-animation-delay: 90ms;
    animation-delay: 90ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(3),
.mi-slider ul.mi-moveFromRight li:nth-child(3),
.mi-slider ul.mi-moveToRight li:nth-child(2),
.mi-slider ul.mi-moveFromLeft li:nth-child(2) {
    -webkit-animation-delay: 180ms;
    animation-delay: 180ms;
}

.mi-slider ul.mi-moveToLeft li:nth-child(4),
.mi-slider ul.mi-moveFromRight li:nth-child(4),
.mi-slider ul.mi-moveToRight li:first-child,
.mi-slider ul.mi-moveFromLeft li:first-child {
    -webkit-animation-delay: 270ms;
    animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
    0% {
        -webkit-transform: translateX(600%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromLeft {
    0% {
        -webkit-transform: translateX(-600%);
    }

    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes moveToRight {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(600%);
    }
}

@-webkit-keyframes moveToLeft {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-600%);
    }
}

@keyframes moveFromRight {
    0% {
        -webkit-transform: translateX(600%);
        transform: translateX(600%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveFromLeft {
    0% {
        -webkit-transform: translateX(-600%);
        transform: translateX(-600%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes moveToRight {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(600%);
        transform: translateX(600%);
    }
}

@keyframes moveToLeft {
    0% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-600%);
        transform: translateX(-600%);
    }
}

.mi-slider {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px) {
    .mi-slider nav {
        max-width: 90%;
    }

    .mi-slider nav a {
        font-size: 12px;
        padding: 40px 10px 30px 14px;
    }
}

@media screen and (max-width: 740px) {
    .mi-slider {
        height: 300px;
    }

    .mi-slider nav {
        top: 220px;
    }
}

@media screen and (max-width: 490px) {
    .mi-slider {
        text-align: center;
        height: auto;
    }

    .mi-slider ul {
        position: relative;
        display: inline;
        bottom: auto;
        pointer-events: auto;
    }

    .mi-slider ul li {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transform: translateX(0) !important;
        transform: translateX(0) !important;
        padding: 10px 3px;
        min-width: 140px;
    }

    .mi-slider nav {
        display: none;
    }
}